<div>
    <carousel [isAnimated]="true">
        <slide>
          <img src="../../../../assets/skills/5.png" alt="first slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="../../../../assets/skills/4.png" alt="first slide" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/skills/3.png" alt="first slide" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/skills/2.png" alt="first slide" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/skills/1.png" alt="first slide" style="display: block; width: 100%;">
          </slide>
      </carousel>
    
      <div class="trusted-section">
        <h3>Trusted by over 4700+ individuals from YouTube and millions of learners around the world</h3>
    </div>
    
    <div class="text-content">
        <h2>All the skills you need in one place</h2>
        <h5>
            <small>From critical skills to technical topics, SmartLearn by Karthik supports your professional
                    development.
            </small>
        </h5>
    </div> 
    
    <div class="cta-container">
        <button class="cta-btn">Explore Courses</button>
    </div>

    <app-plans-and-pricing></app-plans-and-pricing>
</div>